@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&display=swap');
.text-1{
    font-size: 80px;
}

.botao{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-top: 50px;
    margin-right: 25%;
}

.botao span{
    color: white !important;
}

.botao i{
    color: white !important;
}

.gray-70-hover:hover{
    background: #07beb880;
}

.blogtext{
    font-size: 50px;
    margin-left: 48%;
}

.navedit{
    font-family: 'Gothic A1', sans-serif;
}
