@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&display=swap');
.text-1{
    font-size: 80px;
}

.botao{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-top: 50px;
    margin-right: 25%;
}

.botao span{
    color: white !important;
}

.botao i{
    color: white !important;
}

.gray-70-hover:hover{
    background: #07beb880;
}

.blogtext{
    font-size: 50px;
    margin-left: 48%;
}

.navedit{
    font-family: 'Gothic A1', sans-serif;
}

.imagembanner{
    max-width: 200px;
}

@media (max-width: 1200px) {	
	.imagembanner{
        max-width: 120px;
    }
}

@media (max-width: 770px) {	
	.imagembanner{
        max-width: 500px;
    }
}

@media (max-width:600px) {	
	.textsize{
        font-size: 50px !important;
    }
    .textsize2{
        font-size: 40px !important;
    }
}

@media (max-width: 550px) {	
	.imagembanner{
        max-width: 200px;
    }
}

@media (max-height: 800px) {	
	.textsize{
        display: none !important;
    }
    .textsize2{
        text-align: center !important;
        margin-top: 40px !important;
    }
}